$tab-base-color: #EBEBEB;
$tab-base-color-over: #EBEBEB;
$tab-base-color-active: #FFFFFF;
$tab-border-width: 3px 0 0 0;
$tab-border-width-active: 3px 0 0 0;
$tab-border-width-focus: 3px 0 0 0;
$tab-border-width-focus-active: 3px 0 0 0;
$tab-border-color: transparent;
$tab-border-color-over: transparent;
$tab-border-color-active: #4e97ff;
$tab-inner-border-width: 0;
$tab-inner-border-width-focus: 0;
$tab-inner-border-width-focus-active: 0;
$tab-outline-width-focus: 0;
$tab-body-outline-width-focus: 0;
$tab-color: #333333;
$tab-color-over: #333333;
$tab-color-active: #333333;
$tab-font-size: 14px;
$tab-font-weight: 400;
$tab-padding: 10px 30px;
$tab-margin: 0;